body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1e0e0;
}
.container {
    text-align:center;
    padding: 10px;
    background-color: #8388EA;
    border-radius: 5px;
}
.calcTop {
    margin: auto;
    width: 400px;
    padding: 10px;
    background-color: #DFDFDF;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#screenTop{
    height: 10px;
    text-align:right;
    font-size: 25px;
    padding-bottom: 25px;
}
#screenBottom{
    border-radius: 10px;
    height: 20px;
    text-align:right;
    font-size: 45px;
    padding-bottom: 25px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,25%);
  }
.gridBottom{
    display: grid;
    grid-template-columns: 25% 25% 50%
}
button{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    font-size: 25px;
    color: white;
    margin: 5px;
    border: 0px #00004d solid;
    background-color:  #00004d;
}
button:hover{
    cursor: pointer;
    background-color: #00001a;
}
#equal{
    font-size: 60px;
    width: 210px;
}
.operatorButton, #decimal, #sign{
    font-size: 40px;
}
.numButton{
    font-size: 35px;
    background-color: #191E7C;
}
.numButton:hover{
    background-color: rgb(21, 21, 105);

}

